#myProgress0 {
  width: 80%;
  background-color: #ddd;
}

#myBar0 {
  width: 10%;
  height: 30px;
  background-color: #00FFFF;
  text-align: center;
  line-height: 30px;
  color: black;
  font-family: Verdana
}
#myProgress1 {
  width: 80%;
  background-color: #ddd;
}

#myBar1 {
  width: 10%;
  height: 30px;
  background-color: #00FFFF;
  text-align: center;
  line-height: 30px;
  color: black;
  font-family: Verdana
}
#myProgress2{
  width: 80%;
  background-color: #ddd;
}

#myBar2 {
  width: 10%;
  height: 30px;
  background-color: #00FFFF;
  text-align: center;
  line-height: 30px;
  color: black;
  font-family: Verdana
}
#myProgress3{
  width: 80%;
  background-color: #ddd;
}

#myBar3 {
  width: 10%;
  height: 30px;
  background-color: #00FFFF;
  text-align: center;
  line-height: 30px;
  color: black;
  font-family: Verdana
}

#root {
  max-width: 1200px;
  margin: 0 auto;
}
.container {
  display: flex;
  flex-wrap: wrap;
}
.card {
  margin: 1rem;
  border: 1px solid gray;
}
@media screen and (min-width: 600px) {
  .card {
    flex: 1 1 calc(50% - 2rem);
  }
}
@media screen and (min-width: 900px) {
  .card {
    flex: 1 1 calc(33% - 2rem);
  }
}